<section class="app-about">
  <div class="container">
    <p class="page-title">About</p>
    <div class="form__wrapper">
      <p>
        Welcome to <span class="text-light-green">Kraken Race</span>.
      </p>
      <p>
        <span class="text-light-green">Kraken Games</span> is a company dedicated to the development, edition and distribution of entertainment games for computers and advanced entertainment systems. We are a leader in the industry, proving to be creative and constantly innovating new quality products.
      </p>
      <p>
        Kraken Race is a game that breaks all the rules. Thanks to our different game modes, each player can decide how he dares to challenge reality. A game for all dreamers, racers and rebels who want or not to follow the guidelines, everyone is free to choose and what to become. You can be a <span class="text-light-green">Track Racer</span>, experiencing all the speed to the fullest. You can also run <span class="text-light-green">Street Races</span> without rules where the first to arrive, no matter how, is the winner. There are also the <span class="text-light-green">Rally Races</span>, where you will put all your senses to the test on the difficult roads and tracks against the clock.
      </p>
      <p class="mb-0">
        This is a place to become a true <span class="text-light-green">Kraken Legend</span>.
      </p>
    </div>
  </div>
</section>
