<div class="modal-header">
  <h4 class="modal-title">{{ title || 'Modal Title' }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close(false)">&times;</button>
</div>
<div class="modal-body">
  <p>{{ content || 'Modal Content' }}</p>
  <input type="checkbox" id="accept-checkbox" class="mr-2" (change)="acceptCheckbox = !acceptCheckbox">
  <label for="accept-checkbox">{{ accept || 'I Accept and Wish to Continue'}}</label>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="activeModal.close(true)"
    [class]="buttonClass"
    [disabled]="!acceptCheckbox"
  >
    {{ button || 'Submit' }}
  </button>
</div>
