<section class="app-reset-password">
  <div class="container">
    <div class="form__wrapper">
      <h1 class="title">Reset Password</h1>
      <ng-container *ngIf="!token && !submitted && !tokenIsExpired">
        <form [formGroup]="sendEmailForm" (submit)="onSendEmail()">
          <p>An Email will be sent to reset your Password</p>
          <div class="form-group mb-2">
            <input type="email" class="form-control" placeholder="Email" formControlName="email"
              [ngClass]="{ 'is-invalid': isSubmitted && fc.email.errors }"
            >
            <div class="invalid-feedback" *ngIf="isSubmitted && fc.email.errors">
              <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.required">Email is required</p>
              <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.pattern">Invalid Email</p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Send Email</button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="!token && submitted && !tokenIsExpired">
        <p>An Email has been send to your email: <span class="text-yellow">{{sendEmailForm.get('email')?.value || 'Unknown'}}</span> Please follow the instructions in order to reset your password, <span class="text-yellow">if you don't get the Email remember to check your Spam Folder</span>. You can close this page</p>
      </ng-container>
      <ng-container *ngIf="token && !submitted && !tokenIsExpired">
        <form [formGroup]="resetPasswordForm" (submit)="onResetPassword()">
          <div class="form-group mb-2">
            <div class="form-group__icon">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control__has-icon" placeholder="Password" formControlName="password"
                [ngClass]="{ 'is-invalid': isSubmitted && rfc.password.errors }"
              >
              <i class="fa-solid form-control__icon"
                [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showPassword = !showPassword"
              ></i>
            </div>
            <div class="invalid-feedback" *ngIf="isSubmitted && rfc.password.errors">
              <p class="is-invalid" *ngIf="isSubmitted && rfc.password.errors.required">Password is required</p>
              <p class="is-invalid" *ngIf="isSubmitted && rfc.password.errors.minlength">Password is too short</p>
              <p class="is-invalid" *ngIf="isSubmitted && rfc.password.errors.maxlength">Password is too long</p>
            </div>
          </div>
          <div class="form-group mb-2">
            <div class="form-group__icon">
              <input [type]="showRepeatPassword ? 'text' : 'password'" class="form-control form-control__has-icon" placeholder="Repeat password" formControlName="repeatPassword"
                [ngClass]="{ 'is-invalid': isSubmitted && rfc.repeatPassword.errors }"
              >
              <i class="fa-solid form-control__icon"
                [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"
                (click)="showRepeatPassword = !showRepeatPassword"
              ></i>
            </div>
            <div class="invalid-feedback" *ngIf="isSubmitted && rfc.repeatPassword.errors">
              <p class="is-invalid" *ngIf="isSubmitted && rfc.repeatPassword.errors.required">You must confirm the Password</p>
              <p class="is-invalid" *ngIf="isSubmitted && rfc.repeatPassword.errors.mustMatch">Passwords don't match</p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="token && !submitted && tokenIsExpired">

      </ng-container>
      <ng-container *ngIf="token && submitted && !tokenIsExpired">

      </ng-container>
      <div class="invalid-feedback" *ngIf="errorMessage !== ''">
        <p class="is-invalid">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>
