<section class="app-register">
  <div class="container">
    <div class="form__wrapper">
      <h1 class="title">Sign Up</h1>
      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="form-group mb-2">
          <input type="email" class="form-control" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': isSubmitted && fc.email.errors }"
          >
          <div class="invalid-feedback" *ngIf="isSubmitted && fc.email.errors">
            <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.required">Email is required</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.pattern">Invalid Email</p>
          </div>
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" placeholder="Nickname" formControlName="nickname"
            [ngClass]="{ 'is-invalid': isSubmitted && fc.nickname.errors }"
          >
          <div class="invalid-feedback" *ngIf="isSubmitted && fc.nickname.errors">
            <p class="is-invalid" *ngIf="isSubmitted && fc.nickname.errors.required">Nickname is required</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.nickname.errors.minlength">Nickname is too short</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.nickname.errors.maxlength">Nickname is too long</p>
          </div>
        </div>
        <div class="form-group mb-2">
          <div class="form-group__icon">
            <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control__has-icon" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': isSubmitted && fc.password.errors }"
            >
            <i class="fa-solid form-control__icon"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="showPassword = !showPassword"
            ></i>
          </div>
          <div class="invalid-feedback" *ngIf="isSubmitted && fc.password.errors">
            <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.required">Password is required</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.minlength">Password is too short</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.maxlength">Password is too long</p>
          </div>
        </div>
        <div class="form-group mb-2">
          <div class="form-group__icon">
            <input [type]="showRepeatPassword ? 'text' : 'password'" class="form-control form-control__has-icon" placeholder="Repeat password" formControlName="repeatPassword"
              [ngClass]="{ 'is-invalid': isSubmitted && fc.repeatPassword.errors }"
            >
            <i class="fa-solid form-control__icon"
              [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="showRepeatPassword = !showRepeatPassword"
            ></i>
          </div>
          <div class="invalid-feedback" *ngIf="isSubmitted && fc.repeatPassword.errors">
            <p class="is-invalid" *ngIf="isSubmitted && fc.repeatPassword.errors.required">You must confirm the Password</p>
            <p class="is-invalid" *ngIf="isSubmitted && fc.repeatPassword.errors.mustMatch">Passwords don't match</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <div class="invalid-feedback" *ngIf="isSubmitted && errorMessage === ''">
          <p class="is-invalid">{{ errorMessage }}</p>
        </div>
      </form>
      <a routerLink="/login">Login</a> - <a routerLink="/login/reset-password">Reset Password</a>
    </div>
  </div>
</section>
