<section class="app-login">
  <h1>LOGIN</h1>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="form-group mb-2">
      <input type="email" class="form-control" placeholder="Email" formControlName="email"
        [ngClass]="{ 'is-invalid': isSubmitted && fc.email.errors }"
      >
    </div>
    <div class="form-group invalid-feedback" *ngIf="isSubmitted && fc.email.errors">
      <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.required">No colocaste el email</p>
      <p class="is-invalid" *ngIf="isSubmitted && fc.email.errors.pattern">Email invalido</p>
    </div>
    <div class="form-group mb-2">
      <div class="form-group__icon">
        <input type="password" class="form-control form-control__has-icon" placeholder="Password" formControlName="password"
          [ngClass]="{ 'is-invalid': isSubmitted && fc.password.errors }"
        >
        <i class="fa-solid fa-eye form-control__icon"></i>
      </div>
    </div>
    <div class="form-group invalid-feedback" *ngIf="isSubmitted && fc.password.errors">
      <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.required">No colocaste el password</p>
      <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.minlength">El password muy corto</p>
      <p class="is-invalid" *ngIf="isSubmitted && fc.password.errors.maxlength">El password muy largo</p>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
  <a href="">Sing up</a>-<a href="">Reset Password</a>
</section>
