/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/scss/menu-styles.scss';
@import 'assets/scss/sidebar-styles.scss';
@import 'assets/scss/font-declarations.scss';
@import 'assets/scss/font-styles.scss';
@import 'assets/scss/form-styles.scss';
@import 'assets/scss/modal-styles.scss';

html,
body {
  height: 100%;
}

body {
  background-color: #0C101B;
  background-image: url("/assets/images/body-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;

  @include media-breakpoint-down(lg) {
    background-image: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}
